<div class="notificaciones" [ngSwitch]="numProductos">
    <p class="alert" *ngSwitchCase="1">Tienes un unico producto</p>
    <p class="warning" *ngSwitchCase="5">Tienes un menos de 5 productos</p>
    <p class="success" *ngSwitchDefault>Tienes suficiente producto</p>
</div>

<div class="notificaciones">
    <p class="alert" *ngIf="numProductos==1">Tienes un unico producto</p>
    <p class="warning" *ngIf="numProductos>1 && numProductos<=5">Tienes un menos de 5 productos</p>
    <p class="success" *ngIf="numProductos>5">Tienes suficiente producto</p>
</div>
